#presentation {
    color: #ffffff;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    
    img {
        width: 350px;
        height: 350px;
        border-radius: 80%;
        object-fit: cover;
        object-position: 0 -40px;
        float: left;
    }

    .description {
        margin-top: 10%;
        margin-left: 50%;
        font-size: 18px;
    }
}