@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#presentation {
    color: #ffffff;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    
    img {
        width: 350px;
        height: 350px;
        border-radius: 80%;
        object-fit: cover;
        object-position: 0 -40px;
        float: left;
    }

    .description {
        font-family: "Hind Madurai";
        margin-top: 10%;
        margin-left: 50%;
        font-size: 18px;
    }
}