@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#presentation {
    width: 100vw;
    height: 100vh;

    color: #ffffff;
    //background-color: #ff000070;
    text-align: center;

    img {
        width: 400px;
        height: 400px;
        border-radius: 80%;
        object-fit: cover;
        object-position: 0 -40px;
        margin-top: 20vh;

    }

    .description {
        font-family: "Hind Madurai";
        font-size: 1.5em;
    }
}