@import '_normalizer.scss';
@import '_realisations.scss';
@import '_presentation.scss';
@import '_contact.scss';
@import '_parcours.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat";
    line-height: 1.6;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/MSG.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #ffffff1a;
    backdrop-filter: blur(2px);
    text-align: center;

    nav {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;

        a {
            display: block;
            color: #ffffff;
            width: fit-content;
            text-decoration: none;
            margin: auto;
            transition: 0.2s;
            font-size: larger;

            &:hover {
                color: rgb(202, 202, 202);
                transform: scale(1.05);
                transition: 0.2s;
            }

        }

        div:first-child {
            font-size: 1.7rem;
            width: 20%;
        }

        div:last-child {
            display: flex;
            width: 50%;
            margin-left: 20rem;
        }
    }

}

main {
    max-width: 800px;
}

section {
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

footer {
    text-align: center;
    background-color: #ffffff1a;

    p {
        margin: 0;
    }
}

.to_top {
    img {
        position: fixed;
        right: 20px;
        bottom: 20px;
        cursor: pointer;
    }
}